<h1>Database App</h1>

<br /><br />

<form ng-submit="searchDatabase()">
    <div class="row">
        <div class="col-md-11 col-sm-11">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search the FFXIV items database" ng-model="searchQuery">
            </div>
        </div>
        <div class="col-md-1 col-sm-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <!-- <ul>
        <li ng-repeat="result in results">{{result.name}}</li>
    </ul> -->

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr ng-repeat="result in results">
            <div class="row">
                <td>
                    <div class="col-md-1 align-middle">
                        <img ng-src="https://xivapi.com/i2/{{result._id}}.png" />
                    </div>
                    <div class="col-md-3">
                        <h4>{{result.name}}</h4>
                        <small>{{result.description}}</small>
                    </div>
                    <div class="col-md-1">
                        <ul class="list-inline">
                            <li ng-repeat="(craft, recipe) in result.ingredients" ng-if="recipe.length != 0"><img ng-src="img/craft-icons/{{craft}}.png" /></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-4">

                    </div>

                </td>
            </div>
        </tr>
    </table>
    </div>
    <!-- {{results}} -->
</form>