<h1>Lists App</h1>

<br /><br />

<!-- ADD DELETE ALL BUTTON TO FOOTER LIKE IN INVENTORY -->

<!-- Craft Lists -->
<div class="col-md-7 col-sm-12">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Craft Lists</h3>
        </div>
        <div class="panel-body panel-formatter text-left">

            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <select class="form-control" ng-model="currentCraftList" ng-change="changeList(currentCraftList); generateRequiredIngredients(currentCraftList)">
                        <option ng-repeat="(id, list) in lists.craft_lists" value="{{id}}"><span ng-class="text-capitalize">{{id}}</span></option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-2">
                    <button type="button" class="btn btn-default margin-zero" data-toggle="collapse" data-target="#options">Opt
                        <span class="caret"></span>
                    </button>
                </div>
            </div>

            <br />

            <div id="options" class="collapse row">
                <div class="form-group col-md-9 col-sm-9">
                    <input type="text" ng-model="search" class="form-control" placeholder="New Craft List Name..." />
                </div>
                <div class="col-md-3 col-sm-3">
                    <button type="button" ng-click="persistChanges()" class="btn btn-success">Create New List</button>
                </div>
            </div>


            <table class="table table-hover table-condensed margin-zero padding-zero" id="item-list">
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <h5>Qty:</h5>
                    </th>
                    <th>
                        <h5>Inventory:</h5>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in lists.craft_lists[currentCraftList] | orderBy: 'name' ">
                    <td><img ng-src="https://xivapi.com/i/{{convertIcon(item.icon_id)}}.png" width="28" height="28" /></td>
                    <td><small>{{item.name}} ({{item.craft_type}})</small></td>
                    <td>
                        <input novalidate ng-required="true" ng-min="1" class="form-control input-sm" type="number"
                            ng-model="item.qty" ng-change="setUnsaved()" placeholder="0" />
                            <!-- ng-model="item.qty" ng-change="setUnsaved(); checkValid(item.$key)" placeholder="0" /> -->

                    </td>
                    <td>
                        <input class="form-control input-sm" type="number" ng-model="inventory[item._id].qty" ng-change="setUnsavedInv()"
                            placeholder="{{inventory[item._id].qty == undefined ? '0' : inventory[item._id].qty}}" />
                    </td>
                    <td>
                        <div class="dropup">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="ing" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Ingredients
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu list-unstyled" aria-labelledby="about-us">
                                <li class="row" ng-repeat="ingredient in item.ingredients track by $index">
                                    <div ng-if="$index % 4 == 0 || $index == 0" class="ing">
                                        <span class="col-md-1 col-sm-1">
                                            <img ng-src="https://xivapi.com/i/{{convertIcon(item.ingredients[$index + 3])}}.png"
                                                width="20" height="20" />
                                        </span>
                                        <span class="col-md-7 col-sm-7">
                                            <small>{{item.ingredients[$index + 2]}}</small>
                                        </span>
                                        <span class="col-md-1 col-sm-1">
                                            <small>{{item.ingredients[$index + 1]}}</small>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <!-- <td><button type="button" class="btn btn-success btn-sm button-padding " ng-click="removeItem(item.$key); setUnsaved()">✓</button></td> -->
                    <!-- <td><button type="button" class="btn btn-danger btn-sm button-padding " >x</button></td> -->
                    <td><button type="button" class="close" ng-click="removeItem(item); setUnsaved()" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button></td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">Panel Footer</div>
    </div>

</div>

<div class="col-md-5 col-sm-12">

    <!-- Alert for unsaved changes -->
    <div ng-if="unsavedChanges && hasLists" class="alert alert-warning" role="alert">
        <h3>Save Changes</h3>
        <br />
        <p>You have unsaved changes to your lists which will not be saved if you navigate away from
            FFXIV-Organizer. Please save or cancel changes below</p>
        <br />
        <button type="button" ng-click="persistChanges()" class="btn btn-primary">Save Changes</button>
        <button type="button" ng-click="cancelChanges()" class="btn btn-danger">Cancel Changes</button>
        <br />
    </div>

    <!-- General create lists message for users without local or remote list data -->
    <div ng-if="!hasLists && !unsavedChanges" class="well">
        <div>
            <h3>Create List Records</h3>
            <p>You are not signed up to the lists app. Please create list data</p>
            <br />
        </div>
        <div>
            <button type="button" ng-click="createListRecords()" class="btn btn-primary">Create List Records</button>
        </div>
    </div>

    <!-- Alert for unregistered inventory -->
    <div ng-if="!hasLists && unsavedChanges" class="alert alert-warning" role="alert">
        <h3>Create List Records</h3>
        <br />
        <p>You are currently not signed up to the lists app. In order to keep your changes after you log out,
            please create list data</p>
        <br />
        <div>
            <button type="button" ng-click="createListRecords()" class="btn btn-primary">Create List Records</button>
        </div>
    </div>

    <!-- Required Ingredients Lists -->
    <div class="panel" ng-class="{'panel-success':hasIngredients.currentCraftList, 'panel-danger':!hasIngredients.currentCraftList}">
        <div class="panel-heading">
            <h3 class="panel-title">Required Ingredients Lists</h3>
        </div>
        <div class="panel-body panel-formatter text-left">
            <table class="table table-hover table-condensed margin-zero padding-zero" id="item-list">
                <tr>
                    <th></th>
                    <th>
                        <div class="btn-group btn-toggle">
                            <button class="btn btn-sm btn-default" ng-class="{'btn-primary active':switch.current, 'btn-default':switch.master}"
                                ng-click="switch = { current: true }">Current List</button>
                            <button class="btn btn-sm btn-default" ng-class="{'btn-primary active':switch.master, 'btn-default':switch.current}"
                                ng-click="switch = { master: true }">Master List</button>
                        </div>
                    </th>
                    <th>
                        <h5>Qty:</h5>
                    </th>
                    <th>
                        <h5>Inventory:</h5>
                    </th>
                </tr>
                <tr ng-repeat="ingredient in requiredIngredients | toArray | orderBy: 'name' ">
                    <td><img ng-src="https://xivapi.com/i/{{convertIcon(ingredient.icon_id)}}.png" width="28" height="28" /></td>
                    <td><small>{{ingredient.name}}</small></td>
                    <td>
                        <span><small>{{ingredient.qty}}</small></span>
                    </td>
                    <td>
                        <input class="form-control input-sm" type="number" ng-model="inventory[ingredient.$key].qty"
                            ng-change="setUnsavedInv()" placeholder="{{inventory[ingredient.$key].qty == undefined ? '0' : inventory[ingredient.$key].qty}}" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">Panel Footer</div>
    </div>
</div>