.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

.ingredient {
    margin: 1px;
}

.padding-zero {
    padding: 0;
}

.margin-zero {
    margin: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.inventory-panel {
    height: auto;
    max-height: 75%;
    overflow-x: hidden;
}

.delete-padding {
    padding: 0px 5px;
}

.text-black {
    color: black;
} 

/* .default-cursor {
    cursor: default;
} */

/* .row-bottom-margin { 
    margin: 0px;
    border: 1px black;
} */

/* Play around with these later! */

.jumbotron {
    background-image: url("../img/bg.jpg");
}

.back {
    /* background-color: #d0cfb9; */
    /* background-image: url("../img/tex-bg-2.png"); */
}

/* ANIMATIONS */

main.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

main.ng-enter.ng-enter-active {
    opacity: 1;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

#item-list tr.ng-enter {
    transition: 0.2s linear all;
    opacity: 0;
    transform: translateY(30px);
}

#item-list tr.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

/* #item-list tr.ng-enter-stagger {
    transition-delay: 0.03s;
    transition-duration: 0;
} */

#item-list tr.ng-leave {
    transition: 0.2s linear all;
    opacity: 1;
    transform: translateX(0px);
}

#item-list tr.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(-100%);
}
/* 
#item-list tr.ng-leave-stagger {
    transition-delay: 0.03s;
    transition-duration: 0;
} */