<div>
    <h1 class="page-header">Log In</h1>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" ng-model="loginDetails.usr">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="loginDetails.pwd">
        </div>
        <button class="btn btn-primary" ng-click="login(loginDetails.usr, loginDetails.pwd)">Log In</button>
        <button class="btn btn-default" ng-click="setRegister()">Register</button>
    </form>
</div>