<div>
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
               aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a href="#"><img class="navbar-brand" src="img/book-logo.png" /></a>
            <a href="#"><img class="navbar-brand" src="img/dark-logo.png" /></a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul ng-if="loggedIn" class="nav navbar-nav">
               <li ng-class="{'active':switch.dashboard}" ng-click="switch = {dashboard: true}"><a href="/dashboard">Dashboard</a></li>
               <li ng-class="{'active':switch.database}" ng-click="switch = {database: true}"><a href="/database">Database</a></li>
               <li ng-class="{'active':switch.lists}" ng-click="switch = {lists: true}"><a href="/lists">Lists<span ng-if="listsChanges" class="label label-warning text-black">!</span></a></li>
               <li ng-class="{'active':switch.inventory}" ng-click="switch = {inventory: true}"><a href="/inventory">Inventory <span ng-if="inventoryChanges" class="label label-warning text-black">!</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li ng-if="loggedIn" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">{{username}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <li><a href="/account">Account</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#" ng-click="logout()">log out</a></li>
                  </ul>
               </li>
               <li ng-if="!loggedIn" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">Not Logged In<span class="caret"></span></a>
                  <form class="dropdown-menu" ng-submit="login(loginDetails.usr, loginDetails.pwd)">
                     <div class="form-group container-fluid">
                        <input type="text" class="form-control" placeholder="Username" ng-model="loginDetails.usr">
                     </div>
                     <div class="form-group container-fluid">
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginDetails.pwd">
                     </div>
                     <div class="container-fluid"">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                     </div>
                  </form>
               </li>
            </ul>
         </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
   </nav>
</div>
